@media screen and (max-width:480px){

body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#7AC2E8;
}

h1{
font-size:150%;
}

.space1{
margin-top:15%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
background-color:#FDC734;
}

.name{
width:80%;
min-height:150px;
background-color:#D5FF55;
}

.gazou{
width:30%;
min-height:120px;
background-color:#0013E9;
position:relative;
top:-60px;
right:30%;
}
}

@media screen and (min-width:480px){
body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#7AC2E8;
}

h1{
font-size:300%;
}

.space1{
margin-top:20%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-20%;
background-color:#FDC734;
}

.name{
width:80%;
min-height:200px;
background-color:#D5FF55;
}

.gazou{
width:30%;
min-height:150px;
background-color:#0013E9;
position:relative;
top:-60px;
right:30%;
}
}
