@media screen and (max-width:480px){

body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#FFFAF0;
background-image:url(../img/haikei.png);
background-repeat:repeat-y;
background-size:50% auto;
}


h1{
font-size:150%;
}


.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
margin-left:30%;
}

.gazou{
width:60%;
min-height:150px;
background-color:#15FF7A;
}

.space{
margin-left:5%;
}

.space1{
margin-top:15%;
}

.situation{
color:#02940E;
}
}


@media screen and (min-width:480px){
body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#FFFAF0;
background-image:url(../img/haikei.png);
background-repeat:repeat-y;
background-size:50% auto;
}

h1{
margin-top:10%;
font-size:300%;
}

h2{
font-size:250%;
}


.space1{
margin-top:20%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
margin-left:30%;
}

.gazou{
width:60%;
min-height:350px;
background-color:#15FF7A;
}

.space{
margin-left:5%;
}

.situation{
color:#02940E;
}
}
