body{
		width:479px;
		line-height:1.7;
		margin:0;
		padding:0;
		background-color:#FFFAF0;
}

h1{
		font-size:40px;
}

.logo{
      float:left;
      width:95px;
      height:65px;
      background-color:#89ABD9;
	  margin-top:25px;
	  margin-left:20px;
	  margin-right:20px;
	  margin-bottom:25px;
      }
	  
.logo span{
			display:inline-block;
			width:100%;
			text-align:center;
			line-height:65px;
}

.title{
      float:left;
	  margin-left:20px;
	  margin-right:20px;
	  margin-bottom:25px;
	  text-align:center;
      }
	  
.goods{
		width:430px;
		height:200px;
		margin-left:20px;
		margin-right:20px;
		background-color:#FEF898;
}

.goods span{
			display:inline-block;
			width:100%;
			text-align:center;
			line-height:50px;
			font-size:30px;
}

.category{
			float:left;
			width:205px;
			height:100px;
			margin-top:10px;
			margin-left:20px;
			margin-bottom:10px;
			background-color:#F29BA1;
}

.category span{
			display:inline-block;
			width:100%;
			text-align:center;
			line-height:100px;
}

.info{
		width:430px;
		height:120px;
		margin-left:20px;
		margin-right:20px;
		background-color:#D5D7D6;
}

.info span{
			display:inline-block;
			width:100%;
			text-align:center;
			line-height:0px;
			font-size:30px;
}

.link{
		width:479px;
		height:130px;
		background-color:#CCE299;
}

.link span{
			display:inline-block;
			width:100%;
			text-align:center;
			line-height:100px;
			font-size:30px;
}