@media screen and (max-width:480px){

body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#7AC2E8;
}

h1{
font-size:150%;
}

a:link, a:visited {
   color: #FDC734;
   text-decoration: none;
}

.space1{
margin-top:15%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
background-color:#FDC734;
}

.goods{
min-height:150px;
margin-right:2%;
margin-left:2%;
background-color:#FEF898;
}

.category{
float:left;
width:90%;
min-height:100px;
margin-top:1%;
margin-right:4%;
margin-left:4%;
margin-bottom:1%;
background-color:#021F4D;
}

.space{
padding:1.5%;
}

.info{
min-height:70px;
margin-right:2%;
margin-left:2%;
background-color:#D5D7D6;
}

.link{
background-color:#CCE299;
}


small{
display:inline-block;
width:100%;
text-align:center;
}
}



@media screen and (min-width:480px){
body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#7AC2E8;
}

h1{
font-size:300%;
}

a:link, a:visited {
   color: #FDC734;
   text-decoration: none;
}

.mozi{
font-size:150%;
}

.space1{
margin-top:20%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-20%;
background-color:#FDC734;
}

.goods{
min-height:330px;
margin-right:2%;
margin-left:2%;
background-color:#FEF898;
}

.category{
float:left;
width:48%;
min-height:100px;
margin:1%;
background-color:#021F4D;
}

.space{
padding:1.5%;
}

.info{
min-height:200px;
margin-right:2%;
margin-left:2%;
margin-top:4%;
background-color:#D5D7D6;
}

.link{
background-color:#CCE299;
}


small{
display:inline-block;
width:100%;
text-align:center;
}
}
