@media screen and (max-width:480px){

body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#7AC2E8;
}


h1{
font-size:160%;
}

.haikei{
background-color:#FDE734;
}

.haikei1{
background-color:#FEF898;
}


.logo{
margin-top:3%;
margin-right:55%;
}

.title{
text-align:center;
margin-top:-20%;
margin-left:18%;
}


.gazou{
width:40%;
min-height:150px;
margin-left:30;
background-color:#15FF7A;
}

.space{
margin-left:5%;
}

.space1{
margin-top:15%;
}

.situation{
color:#02940E;
}
}

@media screen and (min-width:480px){
body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#7AC2E8;
}


h1{
font-size:300%;
}


h2{
font-size:200%;
}

h3{
font-size:200%;
color:#02940E;
}

.haikei{
background-color:#FDE734;
}

.haikei1{
background-color:#FEF898;
}

.space{
padding:0.1px;
}

.logo{
margin-top:3%;
margin-right:45%;
}

.title{
text-align:center;
margin-top:-18%;
margin-left:25%;
}

.gazou{
width:40%;
min-height:200px;
top:-160px;
right:20%;
background-color:#15FF7A;
position:relative;
}

.a1{
margin-left:35%;
}

}


