@media screen and (max-width: 480px) {
  /* line 4, ../../sass/style.scss */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  /* line 11, ../../sass/style.scss */
  .clearfix {
    min-height: 1px;
  }

  /* line 16, ../../sass/style.scss */
  body {
    width: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }
  /* line 24, ../../sass/style.scss */
  body .container header {
    background-color: #FFF;
  }
  /* line 27, ../../sass/style.scss */
  body .container header .inner #top {
    width: 100%;
  }
  /* line 33, ../../sass/style.scss */
  body .container nav {
    background-color: #FFF;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  /* line 38, ../../sass/style.scss */
  body .container nav .inner {
    margin: auto;
  }
  /* line 42, ../../sass/style.scss */
  body .container nav ul {
    list-style: none;
    padding: 0;
  }
  /* line 45, ../../sass/style.scss */
  body .container nav ul li {
    float: left;
    padding-left: 15%;
  }
  /* line 48, ../../sass/style.scss */
  body .container nav ul li a {
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #6099a4;
  }
  /* line 59, ../../sass/style.scss */
  body .container article {
    clear: both;
    padding: 50px 0 0 0;
    background: #fff;
  }
  /* line 63, ../../sass/style.scss */
  body .container article .inner {
    margin: auto;
  }
  /* line 66, ../../sass/style.scss */
  body .container article .inner .sentence_2 {
    margin-top: 0;
  }
  /* line 72, ../../sass/style.scss */
  body .container article .inner .item .category h2 {
    border-bottom: #bbb solid 1px;
    color: #6099a4;
    font-size: 20px;
    padding-left: 20px;
  }
  /* line 77, ../../sass/style.scss */
  body .container article .inner .item .category h2 .sub_title {
    padding-left: 7px;
    font-size: 12px;
    color: #888;
  }
  /* line 82, ../../sass/style.scss */
  body .container article .inner .item .category h2:last-child {
    font-size: 100%;
  }
  /* line 86, ../../sass/style.scss */
  body .container article .inner .item .category ul {
    list-style: none;
  }
  /* line 88, ../../sass/style.scss */
  body .container article .inner .item .category ul li {
    margin: 10px 0;
  }
  /* line 90, ../../sass/style.scss */
  body .container article .inner .item .category ul li:nth-child(n+2) {
    display: block;
    margin-bottom: 10px;
  }
  /* line 104, ../../sass/style.scss */
  body .container article .inner .back {
    position: fixed;
    right: 30px;
    bottom: 130px;
  }
}
/*
h1{
font-size:150%;
}

.space1{
margin-top:15%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
margin-left:30%;
}

.goods{
min-height:150px;
margin-right:2%;
margin-left:2%;
background-color:#FEF898;
}

.category{
float:left;
width:90%;
min-height:100px;
margin-top:1%;
margin-right:4%;
margin-left:4%;
margin-bottom:1%;
background-color:#F29BA1;
}

.space{
padding:1.5%;
}

.info{
min-height:70px;
margin-right:2%;
margin-left:2%;
background-color:#D5D7D6;
}

.link{
background-color:#CCE299;
}


small{
display:inline-block;
width:100%;
text-align:center;
}
}



@media screen and (min-width:480px){
body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#FFFAF0;
}

h1{
font-size:300%;
}

.mozi{
font-size:150%;
}

.space1{
margin-top:20%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
margin-left:30%;
}

.goods{
min-height:330px;
margin-right:2%;
margin-left:2%;
background-color:#FEF898;
}

.category{
float:left;
width:48%;
min-height:100px;
margin:1%;
background-color:#F29BA1;
}

.space{
padding:1.5%;
}

.info{
min-height:200px;
margin-right:2%;
margin-left:2%;
margin-top:4%;
background-color:#D5D7D6;
}

.link{
background-color:#CCE299;
}


small{
display:inline-block;
width:100%;
text-align:center;
}
}*/
