@media screen and (max-width: 480px) {
  /* line 4, ../../sass/style.scss */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  /* line 12, ../../sass/style.scss */
  .clearfix {
    min-height: 1px;
  }

  /* line 16, ../../sass/style.scss */
  body {
    width: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }
  /* line 24, ../../sass/style.scss */
  body .container header {
    background-color: #FFF;
  }
  /* line 27, ../../sass/style.scss */
  body .container header .inner #top {
    margin-left: -40%;
  }
  /* line 33, ../../sass/style.scss */
  body .container nav {
    background-color: #FFF;
  }
  /* line 35, ../../sass/style.scss */
  body .container nav .inner {
    margin: auto;
  }
  /* line 39, ../../sass/style.scss */
  body .container nav ul {
    list-style: none;
    padding: 0;
  }
  /* line 42, ../../sass/style.scss */
  body .container nav ul li {
    width: 120px;
    text-align: center;
    float: left;
  }
  /* line 46, ../../sass/style.scss */
  body .container nav ul li a {
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #6099a4;
  }
  /* line 57, ../../sass/style.scss */
  body article {
    clear: both;
    padding: 50px 0 0 0;
    background: #fff;
  }
  /* line 61, ../../sass/style.scss */
  body article .inner {
    margin: auto;
  }
}
/*
h1{
font-size:150%;
}

.space1{
margin-top:15%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
margin-left:30%;
}

.goods{
min-height:150px;
margin-right:2%;
margin-left:2%;
background-color:#FEF898;
}

.category{
float:left;
width:90%;
min-height:100px;
margin-top:1%;
margin-right:4%;
margin-left:4%;
margin-bottom:1%;
background-color:#F29BA1;
}

.space{
padding:1.5%;
}

.info{
min-height:70px;
margin-right:2%;
margin-left:2%;
background-color:#D5D7D6;
}

.link{
background-color:#CCE299;
}


small{
display:inline-block;
width:100%;
text-align:center;
}
}



@media screen and (min-width:480px){
body{
width:100%;
line-height:1.5;
margin:0;
padding:0;
background-color:#FFFAF0;
}

h1{
font-size:300%;
}

.mozi{
font-size:150%;
}

.space1{
margin-top:20%;
}

.logo{
width:25%;
height:7%;
margin-top:3%;
margin-right:35%;
}

.title{
text-align:center;
margin-top:-15%;
margin-left:30%;
}

.goods{
min-height:330px;
margin-right:2%;
margin-left:2%;
background-color:#FEF898;
}

.category{
float:left;
width:48%;
min-height:100px;
margin:1%;
background-color:#F29BA1;
}

.space{
padding:1.5%;
}

.info{
min-height:200px;
margin-right:2%;
margin-left:2%;
margin-top:4%;
background-color:#D5D7D6;
}

.link{
background-color:#CCE299;
}


small{
display:inline-block;
width:100%;
text-align:center;
}
}*/
